{{#unless this.model.canDeleteAccount}}
  {{#unless (and (theme-setting "hide_for_staff") this.currentUser.staff)}}
    <div class="control-group account-deletion-request-button">
      <br />
      <div class="controls">
        <AccountDeletionRequest />
      </div>
    </div>
  {{/unless}}
{{/unless}}