<DModalBody @title={{theme-prefix "account_deletion.modal.header_title"}}>
  <div class="account-deletion-modal">
    <h2>{{theme-i18n "account_deletion.modal.title"}}</h2>
    <p>{{theme-i18n "account_deletion.modal.description"}}</p>
  </div>
</DModalBody>
